name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Rust Cache
      uses: Swatinem/rust-cache@v2
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - uses: actions/upload-artifact@v3
      with:
        name: binaries
        path: target\\debug\\*.exe
    - name: Install Cargo Wix
      run: cargo install --verbose cargo-wix
    - name: Build MSI
      run: cargo wix --verbose --dbg-build
    - uses: actions/upload-artifact@v3
      with:
        name: msi
        path: target\\wix\\*.msi
